In [6]:
import pandas as pd

# SERIES AND DATAFRAMES BASICS

In [7]:
#Create a Pandas Series from the list [10, 20, 30, 40] with custom indices: 'a', 'b', 'c', 'd' 
a=[10, 20, 30, 40]
b=pd.Series(a,index=['a', 'b', 'c', 'd'])
print(b)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
#Create a Series from a dictionary: {'Math': 88, 'Science': 92, 'English': 85} and access the value for 'Science' 
a={'Math': 88, 'Science': 92, 'English': 85}
b=pd.Series(a)
print(b['Science'])

92

In [23]:
#Convert the following list of lists into a DataFrame with appropriate column names: 'ID', 'Name', 'Score'
data = [[1, 'Alice', 85], [2, 'Bob', 90], [3, 'Charlie', 78]]
df=pd.DataFrame(data,columns=['ID', 'Name', 'Score'])
print(df)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     78

In [25]:
#Create a DataFrame from a dictionary
data = {'Name': ['Tom', 'Jerry'], 'Age': [22, 23], 'City': ['Delhi', 'Mumbai']}
df=pd.DataFrame(data)
print(df)

    Name  Age    City
0    Tom   22   Delhi
1  Jerry   23  Mumbai

In [30]:
#Create a DataFrame with 5 rows and 3 columns filled with random integers from 1 to 100
import numpy as np
a=np.random.randint(1,100,15).reshape(5,3)
df=pd.DataFrame(a)
print(df)

    0   1   2
0  20  82  93
1  55  61   7
2  78   8  33
3  72  68  90
4  17  66  91

In [35]:
#From any DataFrame, print: First 3 rows,Last 2 rows,Shape of the DataFrame and Summary statistics using .describe()
import numpy as np
a=np.random.randint(1,100,15).reshape(5,3)
df=pd.DataFrame(a)
print(df.head(3))
print(df.tail(2))
print(df.shape)
print(df.describe())

    0   1   2
0  99  79  27
1   5  81  84
2  45  48   9
    0   1   2
3  72  10  18
4  42  17  34
(5, 3)
               0         1          2
count   5.000000   5.00000   5.000000
mean   52.600000  47.00000  34.400000
std    35.232088  33.35416  29.279686
min     5.000000  10.00000   9.000000
25%    42.000000  17.00000  18.000000
50%    45.000000  48.00000  27.000000
75%    72.000000  79.00000  34.000000
max    99.000000  81.00000  84.000000

In [39]:
#In a DataFrame with columns ['A', 'B', 'C'], rename column 'A' to 'Alpha'
a=np.random.randint(1,100,15).reshape(5,3)
df=pd.DataFrame(a,columns=['A', 'B', 'C'])
df.rename(columns={'A':'Alpha'},inplace=True)
print(df)

   Alpha   B   C
0     76  83  22
1     88  17  52
2     67  23  46
3     79  15  22
4     75   2  51

In [51]:
#Add a new column 'Grade' to a DataFrame with 5 random grades (A, B, C) of your choice
a=np.random.randint(1,100,15).reshape(5,3)
df=pd.DataFrame(a,columns=['A', 'B', 'C'])
df.insert(3,'Grade',['B','C','A','A','B'])
print(df)

    A   B   C Grade
0  49  90  99     B
1   4  60  66     C
2  34  26  68     A
3  89  43  24     A
4  96  48  22     B

In [54]:
#Drop the column 'City' from the DataFrame you created in Q4.
data = {'Name': ['Tom', 'Jerry'], 'Age': [22, 23], 'City': ['Delhi', 'Mumbai']}
df=pd.DataFrame(data)
df.drop('City',axis=1,inplace=True)
print(df)

    Name  Age
0    Tom   22
1  Jerry   23

In [56]:
#Delete the 2nd row (index 1) from the DataFrame you created in Q3.
data = [[1, 'Alice', 85], [2, 'Bob', 90], [3, 'Charlie', 78]]
df=pd.DataFrame(data,columns=['ID', 'Name', 'Score'])
df.drop(1,inplace=True)
print(df)

   ID     Name  Score
0   1    Alice     85
2   3  Charlie     78

# INDEXING, FILTERING AND SELECTION

In [94]:
#using .loc[] and boolean filtering, select the rows where Name is 'Charlie' or 'Eva'.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df.loc[[2,4]])

#boolean filtering
print(df[df['Name'].isin(['Charlie', 'Eva'])])

      Name  Age  Score
2  Charlie   35     78
4      Eva   45     88
      Name  Age  Score
2  Charlie   35     78
4      Eva   45     88

In [63]:
#Using the same DataFrame, select the first 3 rows using .iloc[]
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df.iloc[0:3])

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78

In [67]:
#Select only the 'Name' and 'Score' columns for the last 2 rows using .iloc[]
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df.iloc[3:5,[0,2]])

    Name  Score
3  David     92
4    Eva     88

In [70]:
#Filter and display rows where Age > 30
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df[df['Age']>30])

      Name  Age  Score
2  Charlie   35     78
3    David   40     92
4      Eva   45     88

In [73]:
#Filter and display rows where Score >= 90 and Age < 40
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df[(df['Age']<40) & (df['Score']>=90)])

  Name  Age  Score
1  Bob   30     90

In [95]:
#Change the value of Score to 100 for the row where Name == 'David'
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Score']=df.apply(lambda x: 100 if x.Name=='David' else x.Score,axis=1 )
print(df)

#or (using iloc)
df.loc[df['Name'] == 'David', 'Score'] = 100
print(df)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78
3    David   40    100
4      Eva   45     88
      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78
3    David   40    100
4      Eva   45     88

In [96]:
#Add a new column 'Passed' where value should be 'Yes' if Score >= 80 else 'No'
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Passed']=df.apply(lambda x: 'Yes' if x.Score>=80 else 'No',axis=1 )
print(df)

#or (using numpy where)
import numpy as np
df['Passed'] = np.where(df['Score'] >= 80, 'Yes', 'No')
print(df)

      Name  Age  Score Passed
0    Alice   25     85    Yes
1      Bob   30     90    Yes
2  Charlie   35     78     No
3    David   40     92    Yes
4      Eva   45     88    Yes
      Name  Age  Score Passed
0    Alice   25     85    Yes
1      Bob   30     90    Yes
2  Charlie   35     78     No
3    David   40     92    Yes
4      Eva   45     88    Yes

In [98]:
#Set the 'Name' column as the index of the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df.set_index('Name',inplace=True)
print(df)

         Age  Score
Name
Alice     25     85
Bob       30     90
Charlie   35     78
David     40     92
Eva       45     88

In [90]:
#After setting 'Name' as index, retrieve the row for 'Bob' using .loc[]
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df.set_index('Name',inplace=True)
print(df.loc['Bob'])

Age      30
Score    90
Name: Bob, dtype: int64

In [92]:
#Reset the index of the DataFrame to bring 'Name' back as a column.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df.set_index('Name',inplace=True)
df.reset_index(inplace=True)
print(df)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78
3    David   40     92
4      Eva   45     88

#  HANDLING MISSING VALUES AND DATA TYPES

In [101]:
#check for missing values column-wise using .isnull().sum()
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
print(df.isnull().sum()) #counts the no.of missing values(null/Nan) in each column

Name     0
Age      2
Score    1
dtype: int64

In [105]:
#Count the total number of missing values in the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
print(df.isnull().sum().sum())

3

In [113]:
#Fill all missing values with a constant value 0.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.fillna(0,inplace=True)
print(df)

#fill missing values only in age
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.fillna({'Age':0},inplace=True)
print(df)

      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   0.0   90.0
2  Charlie  35.0    0.0
3    David  40.0   92.0
4      Eva   0.0   88.0
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   0.0   90.0
2  Charlie  35.0    NaN
3    David  40.0   92.0
4      Eva   0.0   88.0

In [117]:
#Fill missing values in the 'Age' column with the mean age
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.fillna({'Age':df['Age'].mean().round(2)},inplace=True)
print(df)

      Name    Age  Score
0    Alice  25.00   85.0
1      Bob  33.33   90.0
2  Charlie  35.00    NaN
3    David  40.00   92.0
4      Eva  33.33   88.0

In [119]:
#Drop all rows where any value is missing
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.dropna(axis=0,inplace=True)
print(df)

    Name   Age  Score
0  Alice  25.0   85.0
3  David  40.0   92.0

In [123]:
#Drop rows where all values are missing (add one such row manually)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva',np.nan],
    'Age': [25, np.nan, 35, 40, np.nan,np.nan],
    'Score': [85, 90, np.nan, 92, 88,np.nan]
}
df=pd.DataFrame(data) #last row all values are nan
df.dropna(axis=0,how='all',inplace=True)  
print(df)

      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   90.0
2  Charlie  35.0    NaN
3    David  40.0   92.0
4      Eva   NaN   88.0

In [32]:
#Replace all 85 values in the 'Score' column with 100
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df['Score']=np.where(df['Score']==85,100,df['Score'])
print(df)

#or (using replace)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df['Score']=df['Score'].replace(85,100)
print(df)

      Name   Age  Score
0    Alice  25.0  100.0
1      Bob   NaN   90.0
2  Charlie  35.0    NaN
3    David  40.0   92.0
4      Eva   NaN   88.0
      Name   Age  Score
0    Alice  25.0  100.0
1      Bob   NaN   90.0
2  Charlie  35.0    NaN
3    David  40.0   92.0
4      Eva   NaN   88.0

In [137]:
#Change the data type of 'Age' column to int (after handling NaNs appropriately).
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.fillna(0,inplace=True) #handling nulls

#changing data type of age col
print(df['Age'].dtypes)
df['Age']=df['Age'].astype('int64')
print(df['Age'].dtypes)

float64
int64

In [141]:
#Create a column 'Status' with values like ['active', 'inactive', 'pending', 'active', 'inactive'] and: Replace 'inactive' with 'INACTIVE' and Replace 'pending' with 'PENDING'
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df['Status']=pd.DataFrame(['active', 'inactive', 'pending', 'active', 'inactive'])
print(df)
df['Status']=df['Status'].apply(lambda x: 'INACTIVE' if x=='inactive' else ('PENDING' if x=='pending' else x))
print(df)

      Name   Age  Score    Status
0    Alice  25.0   85.0    active
1      Bob   NaN   90.0  inactive
2  Charlie  35.0    NaN   pending
3    David  40.0   92.0    active
4      Eva   NaN   88.0  inactive
      Name   Age  Score    Status
0    Alice  25.0   85.0    active
1      Bob   NaN   90.0  INACTIVE
2  Charlie  35.0    NaN   PENDING
3    David  40.0   92.0    active
4      Eva   NaN   88.0  INACTIVE

# GROUPBY AND AGGREGATIONS

In [144]:
#Convert the 'Score' column to string data type and print the new data types of all columns using .dtypes.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 92, 88]
}
df=pd.DataFrame(data)
df.fillna(0,inplace=True) #handling nulls

#changing data type of Score col
print(df['Score'].dtypes)
df['Score']=df['Score'].astype('string')
print(df.dtypes)

float64
Name             object
Age             float64
Score    string[python]
dtype: object

In [147]:
#Group by 'Department' and calculate average salary per department.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby('Department')['Salary'].agg('mean')
print(dep)

Department
HR       56000.0
IT       60000.0
Sales    53000.0
Name: Salary, dtype: float64

In [149]:
#From the same DataFrame, group by 'Department' and calculate sum and max salary for each department.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby('Department')['Salary'].agg(['sum','max'])
print(dep)

               sum    max
Department
HR          112000  60000
IT          120000  62000
Sales       159000  55000

In [151]:
#Group by 'Department' and get the count of employees in each department.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby('Department')['Employee'].agg('count')
print(dep)

Department
HR       2
IT       2
Sales    3
Name: Employee, dtype: int64

In [155]:
#Create a new column 'Bonus' with any 7 values, and then group by 'Department' and compute mean salary and mean bonus.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
df['Bonus']=pd.DataFrame(np.random.randint(1000,20000,7).round(2))
dep=df.groupby('Department').agg({'Salary':'mean','Bonus':'mean'})
print(dep)

             Salary    Bonus
Department
HR          56000.0  43200.0
IT          60000.0  21120.0
Sales       53000.0  53164.0

In [20]:
#Group by 'Department' and return only those groups where the average salary is above 55,000
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby('Department').filter(lambda x: (x['Salary'].mean()>55000).all())  #all checks if all values in a group or axis(row/col) are true (ie satisfying condition) then it return that group where that col/row satisfying condition
print(dep)

  Department Employee  Salary
1         HR      Bob   60000
3         HR    David   52000
4         IT      Eva   62000
5         IT    Frank   58000

In [21]:
#For each department, find the employee with the highest salary.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby(['Department'])['Salary'].idxmax()
print(df.loc[dep])

  Department Employee  Salary
1         HR      Bob   60000
4         IT      Eva   62000
2      Sales  Charlie   55000

In [26]:
#Sort the departments by average salary in descending order.
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df.groupby(['Department']).agg({'Salary':'mean'})
print(dep.sort_values(by='Salary',ascending=False))

             Salary
Department
IT          60000.0
HR          56000.0
Sales       53000.0

In [29]:
#Use value_counts() to count how many times each department appears
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
dep=df['Department'].value_counts()
print(dep)

Department
Sales    3
HR       2
IT       2
Name: count, dtype: int64

In [48]:
#Use .agg() to get: 'Salary': min, max, mean and 'Bonus': sum
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
df['Bonus']=pd.DataFrame(np.random.randint(1000,20000,7).round(2))
dep=df.groupby('Department').agg({'Salary':['mean','min','max'],'Bonus':'sum'})
print(dep)

             Salary                Bonus
               mean    min    max    sum
Department
HR          56000.0  52000  60000  16845
IT          60000.0  58000  62000   7241
Sales       53000.0  50000  55000  34120

In [224]:
#For each department, calculate total compensation (i.e., Salary + Bonus) and return the average total compensation per department
data = {
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000, 54000]
}
df=pd.DataFrame(data)
df['Bonus']=pd.DataFrame(np.random.randint(1000,20000,7).round(2))
print(df)
df['compensation']=df['Salary']+df['Bonus']
print(df)
dep=df.groupby('Department')['compensation'].agg('mean')
print(dep)

  Department Employee  Salary  Bonus
0      Sales    Alice   50000   2707
1         HR      Bob   60000  16781
2      Sales  Charlie   55000  13299
3         HR    David   52000  17666
4         IT      Eva   62000   4089
5         IT    Frank   58000  18030
6      Sales    Grace   54000   1890
  Department Employee  Salary  Bonus  compensation
0      Sales    Alice   50000   2707         52707
1         HR      Bob   60000  16781         76781
2      Sales  Charlie   55000  13299         68299
3         HR    David   52000  17666         69666
4         IT      Eva   62000   4089         66089
5         IT    Frank   58000  18030         76030
6      Sales    Grace   54000   1890         55890
Department
HR       73223.500000
IT       71059.500000
Sales    58965.333333
Name: compensation, dtype: float64

# SORTING, RANKING AND DUPLICATES

In [53]:
# sort it by Score (ascending)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
print(df.sort_values(by='Score'))

      Name  Score  Age
2  Charlie     78   35
0    Alice     85   25
4      Eva     88   40
1      Bob     92   30
3    David     92   30

In [57]:
#Sort the above DataFrame by Score (descending), then by Age (ascending)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 28, 40]
}
df=pd.DataFrame(data)
print(df.sort_values(by=['Score','Age'],ascending=[False,True]))

      Name  Score  Age
3    David     92   28
1      Bob     92   30
4      Eva     88   40
0    Alice     85   25
2  Charlie     78   35

In [60]:
#Sort the DataFrame by index in reverse order
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
print(df.sort_index(axis=0,ascending=False))

      Name  Score  Age
4      Eva     88   40
3    David     92   30
2  Charlie     78   35
1      Bob     92   30
0    Alice     85   25

In [73]:
#Add a 'Rank' column by ranking students based on Score (higher score → higher rank)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
df['Rank']=df['Score'].rank(ascending=False,method='dense') # 'dense': Assigns consecutive ranks without gaps, even with ties.(dense_rank() in sql)
print(df)                              # 'first': Assigns ranks based on the order of appearance in the data for tied values. (row_number() in sql)

      Name  Score  Age  Rank
0    Alice     85   25   3.0
1      Bob     92   30   1.0
2  Charlie     78   35   4.0
3    David     92   30   1.0
4      Eva     88   40   2.0

In [75]:
#Use 'min' ranking method and show how it affects ties.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
df['Rank']=df['Score'].rank(ascending=False,method='min') # 'min': assign same rank to ties and it skip one number to rank next (rank() in sql) 
print(df)

      Name  Score  Age  Rank
0    Alice     85   25   4.0
1      Bob     92   30   1.0
2  Charlie     78   35   5.0
3    David     92   30   1.0
4      Eva     88   40   3.0

In [95]:
#Identify duplicate rows based on 'Score' column only.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
group=df.groupby('Score')['Name'].nunique().reset_index().rename(columns={'Name':'count'})
print(group)

# or
print(df['Score'].value_counts())

   Score  count
0     78      1
1     85      1
2     88      1
3     92      2
Score
92    2
85    1
78    1
88    1
Name: count, dtype: int64

In [90]:
#Drop duplicate rows based on 'Score' and keep the first occurrence
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
df.drop_duplicates('Score',keep='first',inplace=True)
print(df)

      Name  Score  Age
0    Alice     85   25
1      Bob     92   30
2  Charlie     78   35
4      Eva     88   40

In [92]:
#Drop duplicate rows based on 'Score' and keep the last occurrence
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
df.drop_duplicates('Score',keep='last',inplace=True)
print(df)

      Name  Score  Age
0    Alice     85   25
2  Charlie     78   35
3    David     92   30
4      Eva     88   40

In [94]:
#Drop duplicates based on both 'Score' and 'Age'
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 92, 88],
    'Age': [25, 30, 35, 30, 40]
}
df=pd.DataFrame(data)
df.drop_duplicates(['Score','Age'],keep=False,inplace=True) # keep=False delete duplicate rows (not in one col but it find dupliactes based on all cols and delete that row
print(df)

      Name  Score  Age
0    Alice     85   25
2  Charlie     78   35
4      Eva     88   40

In [ ]:
#Create a DataFrame with duplicate Names and count how many times each name appears using value_counts()
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva','Bob'],
    'Score': [85, 92, 78, 92, 88,92],
    'Age': [25, 30, 35, 30, 40,30]
}
df=pd.DataFrame(data)
print(df['Name'].value_counts())

# DATETIME OPERATIONS

In [223]:
#Convert the list ['2023-01-01', '2023-05-10', '2023-09-15'] to datetime using pd.to_datetime()
a=['2023-01-01', '2023-05-10', '2023-09-15']
df=pd.to_datetime(a)
print(df)

DatetimeIndex(['2023-01-01', '2023-05-10', '2023-09-15'], dtype='datetime64[ns]', freq=None)

In [106]:
#Create a DataFrame with 3 rows and a 'Date' column (as datetime) and a 'Value' column with numbers.
data={'Date':['2023-01-01', '2023-05-10', '2023-09-15'],
      'Value':[10,20,30]}
df=pd.DataFrame(data)
df['Date']=pd.to_datetime(df['Date'])
print(df.dtypes)

Date     datetime64[ns]
Value             int64
dtype: object

In [108]:
#Extract year, month, and weekday from the 'Date' column and store them in separate columns.
data={'Date':['2023-01-01', '2023-05-10', '2023-09-15'],
      'Value':[10,20,30]}
df=pd.DataFrame(data)
df['Date']=pd.to_datetime(df['Date'])
df['year']=df['Date'].dt.year
df['month']=df['Date'].dt.month
df['day']=df['Date'].dt.day
print(df)

        Date  Value  year  month  day
0 2023-01-01     10  2023      1    1
1 2023-05-10     20  2023      5   10
2 2023-09-15     30  2023      9   15

In [110]:
#Filter the rows where the date is after '2023-06-01'
data={'Date':['2023-01-01', '2023-05-10', '2023-09-15'],
      'Value':[10,20,30]}
df=pd.DataFrame(data)
df['Date']=pd.to_datetime(df['Date'])
print(df[df['Date']>'2023-06-01'])

        Date  Value
2 2023-09-15     30

In [118]:
#Generate a sequence of 10 dates starting from '2023-01-01'
start='2023-01-01'
end=pd.to_datetime(start)+ pd.DateOffset(days=9)
print(pd.date_range(start,end))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [124]:
#Create a time series (1 column of random numbers) indexed by dates from '2023-01-01' to '2023-01-10'
data={'Date': pd.date_range('2023-01-01','2023-01-10'),
      'Value':np.random.randint(1,100,10)}
df=pd.DataFrame(data)
df.set_index('Date',inplace=True)
print(df)

            Value
Date
2023-01-01     54
2023-01-02     70
2023-01-03     98
2023-01-04     27
2023-01-05     42
2023-01-06     78
2023-01-07     43
2023-01-08     11
2023-01-09     79
2023-01-10     83

In [158]:
#Resample the time series from daily to weekly frequency and compute the mean.
#The resample() method in Pandas is used for changing the frequency of time series data. It is a powerful tool for both downsampling (aggregating data to a lower frequency, e.g., daily to monthly)
data={'Date': pd.date_range('2023-01-01','2023-01-10'),  
      'Value':np.random.randint(1,100,10)}
df=pd.DataFrame(data)
print(df)
df.set_index('Date', inplace=True)
print(df.resample('W').mean()) #resample can used if date is index

        Date  Value
0 2023-01-01     85
1 2023-01-02     10
2 2023-01-03     48
3 2023-01-04     88
4 2023-01-05     49
5 2023-01-06     99
6 2023-01-07      9
7 2023-01-08     69
8 2023-01-09     94
9 2023-01-10     52
                Value
Date
2023-01-01  85.000000
2023-01-08  53.142857
2023-01-15  73.000000

In [146]:
#Create a DataFrame of hourly data for 2 days and resample it to daily max values
data={'Date': pd.date_range('2023-01-01 08:00',periods=48,freq='h'), # 2days=48 hours
     'Value':np.random.randint(1,100,48)} 
df=pd.DataFrame(data)
group=df.groupby(df['Date'].dt.day)['Value'].agg('max')
print(group)

Date
1    96
2    91
3    86
Name: Value, dtype: int32

In [149]:
#Given a datetime column, extract only the time (hh:mm:ss) part.
data={'Date':['2023-01-01 08:45:30', '2023-05-10 10:34:03', '2023-09-15 03:43:21']}
df=pd.DataFrame(data)
df['Date']=pd.to_datetime(df['Date'])
print(df['Date'].dt.time)

0    08:45:30
1    10:34:03
2    03:43:21
Name: Date, dtype: object

In [159]:
#Shift all dates in the 'Date' column by +7 days using .shift() or .timedelta
data={'Date':['2023-01-01 08:45:30', '2023-05-10 10:34:03', '2023-09-15 03:43:21'],
     'Value':[10,20,30]}
df=pd.DataFrame(data)
df['Date']=pd.to_datetime(df['Date'])
df['Date']=df['Date']+pd.Timedelta(days=7) # dates will increment by 7 days for every date  (ie 1+7=8,10+7=17,15+7=22)
print(df)

                 Date  Value
0 2023-01-08 08:45:30     10
1 2023-05-17 10:34:03     20
2 2023-09-22 03:43:21     30

# MERGE, CONCAT

In [161]:
#Concatenate two DataFrames vertically
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['Charlie', 'David']})
print(pd.concat([df1,df2]))

   ID     Name
0   1    Alice
1   2      Bob
0   3  Charlie
1   4    David

In [163]:
#Concatenate the same DataFrames horizontally
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['Charlie', 'David']})
print(pd.concat([df1,df2],axis=1))

   ID   Name  ID     Name
0   1  Alice   3  Charlie
1   2    Bob   4    David

In [165]:
#Merge two DataFrames on a common column ID (default inner join)
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'City': ['Delhi', 'Mumbai', 'Chennai']})
print(pd.merge(df1,df2,on='ID'))

   ID     Name    City
0   2      Bob   Delhi
1   3  Charlie  Mumbai

In [167]:
#Perform a left join instead of inner
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'City': ['Delhi', 'Mumbai', 'Chennai']})
print(pd.merge(df1,df2,how='left',on='ID'))

   ID     Name    City
0   1    Alice     NaN
1   2      Bob   Delhi
2   3  Charlie  Mumbai

In [170]:
#Perform a right join
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'City': ['Delhi', 'Mumbai', 'Chennai']})
print(pd.merge(df1,df2,how='right',on='ID'))

   ID     Name     City
0   2      Bob    Delhi
1   3  Charlie   Mumbai
2   4      NaN  Chennai

In [172]:
#Perform an outer(full) join to include all data from both
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'City': ['Delhi', 'Mumbai', 'Chennai']})
print(pd.merge(df1,df2,how='outer',on='ID'))

   ID     Name     City
0   1    Alice      NaN
1   2      Bob    Delhi
2   3  Charlie   Mumbai
3   4      NaN  Chennai

In [174]:
#Merge two DataFrames on different column names
df1 = pd.DataFrame({'emp_id': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Department': ['HR', 'IT', 'Sales']})
print(pd.merge(df1,df2,how='outer',left_on='emp_id',right_on='ID'))

   emp_id     Name   ID Department
0     1.0    Alice  1.0         HR
1     2.0      Bob  2.0         IT
2     3.0  Charlie  NaN        NaN
3     NaN      NaN  4.0      Sales

In [188]:
#Add a new column to an existing DataFrame using pd.concat()
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6]})
print(pd.concat([df1,df2],axis=1))

   A  B  C
0  1  3  5
1  2  4  6

In [187]:
#Concatenate 3 DataFrames vertically and reset the index
df1 = pd.DataFrame({'X': [1, 2]})
df2 = pd.DataFrame({'X': [3, 4]})
df3 = pd.DataFrame({'X': [5, 6]})
print(pd.concat([df1,df2,df3]).reset_index(drop=True)) #drop old index

   X
0  1
1  2
2  3
3  4
4  5
5  6

In [189]:
#Merge on multiple columns
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Dept': ['HR', 'IT', 'Finance'], 'Score': [90, 80, 70]})
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Dept': ['HR', 'IT', 'Sales'], 'City': ['Delhi', 'Mumbai', 'Chennai']})
print(pd.merge(df1,df2,how='left',on=['ID','Dept']))

   ID     Dept  Score    City
0   1       HR     90   Delhi
1   2       IT     80  Mumbai
2   3  Finance     70     NaN

# PIVOT TABLE AND CROSSTAB

In [199]:
#Create a pivot table to find average Score per Department.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
    print(df.pivot_table(values='Score',index='Department',aggfunc='mean'))

            Score
Department
HR           91.0
IT           88.0
Sales        81.5

In [201]:
#Create a pivot table to find sum and max Score per Department.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
print(df.pivot_table(values='Score',index='Department',aggfunc=['sum','max']))

             sum   max
           Score Score
Department
HR           182    92
IT            88    88
Sales        163    85

In [205]:
#Add a column Gender = ['F', 'M', 'M', 'M', 'F'] Create a pivot table to get average Score by Department and Gender.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Gender'] = ['F', 'M', 'M', 'M', 'F']
print(df.pivot_table(values='Score',index='Department',columns='Gender',aggfunc='mean'))

Gender         F     M
Department
HR           NaN  91.0
IT          88.0   NaN
Sales       85.0  78.0

In [207]:
#Create a pivot table to get total Score by Gender.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Gender'] = ['F', 'M', 'M', 'M', 'F']
print(df.pivot_table(values='Score',index='Gender',aggfunc='sum'))

        Score
Gender
F         173
M         260

In [209]:
#Use pd.crosstab() to count how many employees are in each Department and Gender combination.
#pd.crosstab() compute a frequency(count) table of two or more factors.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Gender'] = ['F', 'M', 'M', 'M', 'F']
ct = pd.crosstab(df['Department'], df['Gender'])
print(ct)

Gender      F  M
Department
HR          0  2
IT          1  0
Sales       1  1

In [214]:
#Use pd.crosstab() to show how many employees scored ≥ 85 vs < 85, grouped by Department. (Hint: Create a new column Category = 'High' if Score ≥ 85 else 'Low')
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Category']=df['Score'].apply(lambda x: 'High' if x>=85 else 'Low')
print(pd.crosstab(df['Department'],df['Category']))

Category    High  Low
Department
HR             2    0
IT             1    0
Sales          1    1

In [216]:
#Create a pivot table with Department as index, Gender as columns, and count of employees.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Gender'] = ['F', 'M', 'M', 'M', 'F']
print(df.pivot_table(index='Department',columns='Gender',aggfunc='count'))

           Name      Score
Gender        F    M     F    M
Department
HR          NaN  2.0   NaN  2.0
IT          1.0  NaN   1.0  NaN
Sales       1.0  1.0   1.0  1.0

In [221]:
#Create a pivot table that fills NaN values with 0 and includes margins (totals)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['Sales', 'HR', 'Sales', 'HR', 'IT'],
    'Score': [85, 90, 78, 92, 88]
}
df=pd.DataFrame(data)
df['Gender'] = ['F', 'M', 'M', 'M', 'F']
print(df.pivot_table(index='Department',columns='Gender',aggfunc='count',fill_value=0,margins=True)) #fill_value fills nan values with specified value in result pivot table

           Name        Score
Gender        F  M All     F  M All
Department
HR            0  2   2     0  2   2
IT            1  0   1     1  0   1
Sales         1  1   2     1  1   2
All           2  3   5     2  3   5

# WINDOW FUNCTIONS (ROLLING, EXPANDING, CUMULATIVE)

In [246]:
# Perform a rolling mean over a 3-day window.
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['meansalesof_dayprev_prev_today']=df['Sales'].rolling(window=3).mean()   # look in book to understand better
print(df)

        Date  Sales  meansalesof_dayprev_prev_today
0 2023-01-01     10                             NaN
1 2023-01-02     15                             NaN
2 2023-01-03     20                            15.0
3 2023-01-04     25                            20.0
4 2023-01-05     30                            25.0
5 2023-01-06     35                            30.0
6 2023-01-07     40                            35.0

In [244]:
#On the same data, calculate rolling sum with a window size of 2.
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['running_total']=df['Sales'].rolling(window=2).sum()   #we can also find running total using expanding where it also show first sales rather tha nan
print(df)

        Date  Sales  running_total
0 2023-01-01     10            NaN
1 2023-01-02     15           25.0
2 2023-01-03     20           35.0
3 2023-01-04     25           45.0
4 2023-01-05     30           55.0
5 2023-01-06     35           65.0
6 2023-01-07     40           75.0

In [249]:
#Add a column Profit = [2, 5, 4, 3, 6, 5, 7] and Calculate the expanding mean of the Profit column.
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['Profit']=[2, 5, 4, 3, 6, 5, 7]
df['running_mean']=df['Profit'].expanding().mean()    #expanding is like frame - rows between unbounded row and current row in sql (ie from begining to current row)
print(df)

        Date  Sales  Profit  running_mean
0 2023-01-01     10       2      2.000000
1 2023-01-02     15       5      3.500000
2 2023-01-03     20       4      3.666667
3 2023-01-04     25       3      3.500000
4 2023-01-05     30       6      4.000000
5 2023-01-06     35       5      4.166667
6 2023-01-07     40       7      4.571429

In [251]:
#Calculate the cumulative sum of the Sales column.
#cumulative sum mean running total 
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['Profit']=[2, 5, 4, 3, 6, 5, 7]
df['running_total']=df['Profit'].expanding().sum()   
print(df)

        Date  Sales  Profit  running_total
0 2023-01-01     10       2            2.0
1 2023-01-02     15       5            7.0
2 2023-01-03     20       4           11.0
3 2023-01-04     25       3           14.0
4 2023-01-05     30       6           20.0
5 2023-01-06     35       5           25.0
6 2023-01-07     40       7           32.0

In [255]:
#Calculate the cumulative product of the Sales column. 
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['Profit']=[2, 5, 4, 3, 6, 5, 7]
df['running_product']=df['Profit'].cumprod()   #(just cumprod())
print(df)

        Date  Sales  Profit  running_product
0 2023-01-01     10       2                2
1 2023-01-02     15       5               10
2 2023-01-03     20       4               40
3 2023-01-04     25       3              120
4 2023-01-05     30       6              720
5 2023-01-06     35       5             3600
6 2023-01-07     40       7            25200

In [257]:
#Compute a rolling max for Sales with a window of 4
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['rolling_max_of_4_days']=df['Sales'].rolling(window=4).max() 
print(df)

        Date  Sales  rolling_max
0 2023-01-01     10          NaN
1 2023-01-02     15          NaN
2 2023-01-03     20          NaN
3 2023-01-04     25         25.0
4 2023-01-05     30         30.0
5 2023-01-06     35         35.0
6 2023-01-07     40         40.0

In [261]:
# Calculate a rolling correlation between Sales and Profit with a window of 3
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['Profit']=[2, 5, 4, 3, 6, 5, 7]
df['correlation']=df['Sales'].rolling(window=3).corr(df['Profit'])
print(df)

        Date  Sales  Profit  correlation
0 2023-01-01     10       2          NaN
1 2023-01-02     15       5          NaN
2 2023-01-03     20       4     0.654654
3 2023-01-04     25       3    -1.000000
4 2023-01-05     30       6     0.654654
5 2023-01-06     35       5     0.654654
6 2023-01-07     40       7     0.500000

In [263]:
#Use .expanding() to compute the expanding standard deviation of Profit
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['Profit']=[2, 5, 4, 3, 6, 5, 7]
df['running_std_profit']=df['Profit'].expanding().std()
print(df)

        Date  Sales  Profit  running_std_profit
0 2023-01-01     10       2                 NaN
1 2023-01-02     15       5            2.121320
2 2023-01-03     20       4            1.527525
3 2023-01-04     25       3            1.290994
4 2023-01-05     30       6            1.581139
5 2023-01-06     35       5            1.471960
6 2023-01-07     40       7            1.718249

In [265]:
# Use .rolling() to calculate the rolling median of Sales with a window of 3
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=7, freq='D'),
              'Sales' : [10, 15, 20, 25, 30, 35, 40]})
df['rolling_median_sales_of_3days']=df['Sales'].rolling(window=3).median()
print(df)

        Date  Sales  rolling_median_sales_of_3days
0 2023-01-01     10                            NaN
1 2023-01-02     15                            NaN
2 2023-01-03     20                           15.0
3 2023-01-04     25                           20.0
4 2023-01-05     30                           25.0
5 2023-01-06     35                           30.0
6 2023-01-07     40                           35.0

In [267]:
#On a DataFrame with hourly sales (24 rows), calculate a 6-hour rolling average
df=pd.DataFrame({'Date': pd.date_range('2023-01-01', periods=24, freq='h'),
              'Sales' : np.random.randint(1,100,24)})
df['rolling_avgsales_of_6H']=df['Sales'].rolling(window=6).mean()
print(df)

                  Date  Sales  rolling_avgsales_of_6H
0  2023-01-01 00:00:00     36                     NaN
1  2023-01-01 01:00:00     83                     NaN
2  2023-01-01 02:00:00     98                     NaN
3  2023-01-01 03:00:00     17                     NaN
4  2023-01-01 04:00:00     57                     NaN
5  2023-01-01 05:00:00     23               52.333333
6  2023-01-01 06:00:00     66               57.333333
7  2023-01-01 07:00:00     92               58.833333
8  2023-01-01 08:00:00      3               43.000000
9  2023-01-01 09:00:00     96               56.166667
10 2023-01-01 10:00:00     14               49.000000
11 2023-01-01 11:00:00     97               61.333333
12 2023-01-01 12:00:00     85               64.500000
13 2023-01-01 13:00:00     97               65.333333
14 2023-01-01 14:00:00     64               75.500000
15 2023-01-01 15:00:00     41               66.333333
16 2023-01-01 16:00:00     59               73.833333
17 2023-01-01 17:00:00     19               60.833333
18 2023-01-01 18:00:00     82               60.333333
19 2023-01-01 19:00:00      1               44.333333
20 2023-01-01 20:00:00     78               46.666667
21 2023-01-01 21:00:00     79               53.000000
22 2023-01-01 22:00:00     79               56.333333
23 2023-01-01 23:00:00     25               57.333333